body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-font-color);
}

:root {
  --primary-color: #6047ca;
  --primary-background: #FAFAFA;
  --primary-font-color: #030303;
  --white: #FFF;
  --light-grey: #c1c1c1;
  --light-grey-text: #808080;
  --dark-grey: #6C757D;
  --almost-white: #F5F5F5;
  --primary-red: #FF4136;
}